/*.ps-banner--home-1:before{*/
    /*background: url("../images/background/down-01.png") repeat-x;*/
/*}*/


.header .ps-logo{
    top: 22px;
}

.navigation__left{
    padding-left: 8%;
}

.navigation__right{
    padding-right: 10%;
}

.menu > li > a{
    color: white;
}

.navigation{
    background-color: rgb(251, 184, 11);
}

.navigation--sticky .navigation{
    background-color: rgb(251, 184, 11);
}

.navigation--sticky .ps-logo{
    width: 100px;
    top: 15px
}

.menu > li.current > a{
    color: rgb(21, 63, 94);
    border-color: rgb(21, 63, 94);
}

.menu > li > a:hover{
    color: rgb(21, 63, 94);
    border-color: rgb(21, 63, 94);
}

.ps-banner .ps-banner__caption{
    font-family: 'Roboto', sans-serif;
}

.header--sidebar{
    background-color: rgb(251, 184, 11);
    border: none;
}

.menu > li.current > a{
    border: 0;
}

.pt-120{
    padding-top: 120px;
}

.ps-section--map .ps-delivery{
    background-color: rgba(251,184,11,0.9);
}

.ps-btn, button.ps-btn{
    background-color: rgb(21, 63, 94);
    background-image: none !important;
}

.loader:before{
    border: 0 solid rgb(251,184,11);
}

@media (max-width: 1199px) {
    .header .navigation{
        background-color: rgb(251, 184, 11);
    }
    .header .ps-logo{
        width: 120px;
        top: 8px;
    }
    .menu > li > a{
        border: 0;
    }

    .pt-120{
        padding-top: 60px;
    }
}